#divButton{
	background: linear-gradient(#00CC00, green, #00CC00);
	border-radius: 10px;
	color: black;
	text-align: center;
	max-width: 220px;
	padding: 5px;
	font-family: sans-serif;
	/* font-weight: bold; */
	margin: 0 auto;
}

table
{
	border: 1px solid #00CC00;
	width: 60%;
	text-align:center;
	margin:0 auto;
}
th
{
	text-align: center;
}
td
{
	text-align: left;
	border: 1px solid #00CC00;
}

td:nth-child(odd)
{
	width: 40%;
}
td:nth-child(even)
{
	width: 20%;
}

body
{
	width: 990px;
	margin: 0 auto;
	font-size: 1.5em;
	background-image: url(images/background.jpg); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}

#text{
	width:990px;
	margin: auto;
	background: rgba(0,0,0,0.6);
	padding: 0px 15px 15px 15px;
	color: #00CC00;
	font-family: "Lucida Console";
}

h1
{
	border-bottom: 20px solid #00CC00;
	padding-top: 2%;
}
#example
{
	font-weight: normal;
}

#inputArea
{
	margin: 0 auto;
	display: block;
	border: 2px solid #00CC00;
	background-color: black;
	color: #00CC00;
}